* {
  box-sizing: border-box;
  max-width: 980px;
  text-align: center;
  margin: auto;
}
body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
}
.container {
  max-width: 100%;
}

/*====== Header======*/
.header {
  margin-bottom: 10px;
}
.header-top {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
}
.header-main {
  background: #66ffcc;
  padding: 10px 5px 10px 30px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
}
.main {
  display: flex;
}
.main-left {
  flex: 4;
  display: flex;
  margin-right: 10px;
}
.row .col {
  border: 1px solid #c2c2c2;
  padding: 10px 20px;
}
.main-left .row {
}
.main-left .col {
  border: 1px solid #c2c2c2;
  padding: 15px 25px;
}
.main-mid {
  flex: 1;
}
.main-right {
  flex: 1;
}
.price {
  text-decoration: line-through;
  color: #330066;
}
